@import "../../../assets/scss/style.scss";
.dashboard_latest_transaction_wrapper {
  .table_title {
    font-size: 20px;
    span {
      color: $highlight-color;
    }
  }
  .hash_container {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
  }
}
