@import "../../assets/scss/style.scss";

.leaderboard_bg_container {
  .leaderboard_main_container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .leaderboard_top_container {
      .box_container {
        .table_title {
          font-weight: 700;
          font-size: 1.2rem;
        }
        .stats_container {
          display: flex;
          justify-content: space-between;
          padding: 10px 15px 12px 15px;
          .stats {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            .key {
              font-size: 1.1rem;
              color: white;
              font-weight: 500;
            }
            .value {
              font-size: 0.9rem;
              color: white;
              font-weight: 400;
            }
          }
          .border_stats {
            border-left: 1px solid white;
            border-right: 1px solid white;
            padding: 0 100px;
            @media only screen and (max-width: 900px) {
              padding: 0 70px;
            }
            @media only screen and (max-width: 750px) {
              padding: 0 50px;
            }
            @media only screen and (max-width: 700px) {
              padding: 0 30px;
            }
          }
        }
      }
    }
    .leaderboard_bottom_container {
      .box_container {
        height: 23.5rem;
        .table_title {
          font-weight: 700;
          font-size: 1.2rem;
        }
        .leaderboard_ranking_table {
          .hash_container {
            display: flex;
            align-items: center;
            column-gap: 10px;
            // justify-content: center;
          }
        }

        .button_container {
          padding: 10px 20px;
        }
      }
    }
  }
}
