@import "../../../assets/scss/style.scss";

.unconfirmedTx_bg {
  .unconfirmedTx_main_container {
    .unconfirmedTx_main {
      .box_container {
        .title {
          font-size: 1.2rem;
          color: white;
          font-weight: 700;
          margin-bottom: 1.1rem;
          padding-left: 19px;
        }

        .data_container_main_box {
          display: flex;
          margin-bottom: 0.8rem;
          background: transparent;
          backdrop-filter: blur(10px);
          box-shadow: $soft-box-shadow;
          border-radius: $base-border-radius;
          .data_box_container_box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px 20px;
          }
          .data_box {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            .key {
              color: white;
              font-size: 1rem;
              font-weight: 500;
            }
            .value {
              color: white;
              font-size: 1rem;
              font-weight: 300;
              display: flex;
              align-items: center;
              column-gap: 10px;
              span {
                .copy-section {
                  .icon {
                    height: 22px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
